{{ "<!-- JS Plugins -->" | safeHTML }} {{ range .Site.Params.plugins.js }}
<script src="{{ .link | relURL }}"></script>
{{ end }} {{ "<!-- Main Scripts -->" | safeHTML }} {{ $script := resources.Get
"js/script.js" | minify }}
<script src="{{ $script.RelPermalink }}"></script>
{{ $script := resources.Get "js/hugrid.custom.js" | minify }}
<script src="{{ $script.RelPermalink }}"></script>

<script>
function toggleLogoImg(id) {
    var img = document.getElementById(id).src;
    if (img.indexOf({{ .Site.Params.logo_light | relURL }}) != -1) {
      document.getElementById(id).src = {{ .Site.Params.logo_dark | relURL }};
    } else {
      document.getElementById(id).src = {{ .Site.Params.logo_light | relURL }};
    }
  }
</script>